%section#footer.container
  .row
    .4u{:class => "12u(mobile)"}
      %section
        %header
          %h2 Links de interes
        %ul.divided
          %li
            %a{:href => "#"} Guias
          %li
            %a{:href => "#"} Recorridos
    .4u{:class => "12u(mobile)"}
      %section
        %header
          %h2 Eventos
        %ul.divided
          %li
            %a{:href => "#"} Mini Battle
          %li
            %a{:href => "#"} Farmacity Chicas Roller
    .4u{:class => "12u(mobile)"}
      %section
        %header
          %h2 Encuentranos en
        %ul.social
          %li
            %a.icon.fa-facebook{:href => "http://www.facebook.com/nmroller.es", :target => 'blank'}
              %span.label Facebook
          %li
            %a.icon.fa-youtube{:href => "http://www.youtube.com/channel/UC8UJvjvoYy2wnqJhxn0lIdQ", :target => 'blank'}
              %span.label YouTube
        %ul.contact
          %li
            %h3 Correo
            %p
              %a{:href => "mailto:nmroller@hotmail.com"} nmroller@hotmail.com
          %li
            %h3 Telefono
            %p 11-3621-0500
  .row
    .12u
      / Copyright
      #copyright
        %ul.links
          %li © NMR. Derechos reservados
          %li
            Desarrollado por:
            %a{:href => "http://www.luigibyte.com.ar", :target => 'blank'} luigibyte
