%section#footer.container
  .row
    .4u{:class => "12u(mobile)"}
      %section
        %header
          %h2 Tempus consequat
        %ul.divided
          %li
            %a{:href => "#"} Lorem ipsum dolor sit amet sit veroeros
          %li
            %a{:href => "#"} Sed et blandit consequat sed tlorem blandit
          %li
            %a{:href => "#"} Adipiscing feugiat phasellus sed tempus
          %li
            %a{:href => "#"} Hendrerit tortor vitae mattis tempor sapien
          %li
            %a{:href => "#"} Sem feugiat sapien id suscipit magna felis nec
          %li
            %a{:href => "#"} Elit class aptent taciti sociosqu ad litora
    .4u{:class => "12u(mobile)"}
      %section
        %header
          %h2 Ipsum et phasellus
        %ul.divided
          %li
            %a{:href => "#"} Lorem ipsum dolor sit amet sit veroeros
          %li
            %a{:href => "#"} Sed et blandit consequat sed tlorem blandit
          %li
            %a{:href => "#"} Adipiscing feugiat phasellus sed tempus
          %li
            %a{:href => "#"} Hendrerit tortor vitae mattis tempor sapien
          %li
            %a{:href => "#"} Sem feugiat sapien id suscipit magna felis nec
          %li
            %a{:href => "#"} Elit class aptent taciti sociosqu ad litora
    .4u{:class => "12u(mobile)"}
      %section
        %header
          %h2 Encuentranos en
        %ul.social
          %li
            %a.icon.fa-facebook{:href => "http://www.facebook.com/nmroller.es", :target => 'blank'}
              %span.label Facebook
          %li
            %a.icon.fa-youtube{:href => "http://www.youtube.com/channel/UC8UJvjvoYy2wnqJhxn0lIdQ", :target => 'blank'}
              %span.label YouTube
        %ul.contact
          %li
            %h3 Correo
            %p
              %a{:href => "#"} nmroller@hotmail.com
          %li
            %h3 Telefono
            %p 11-3621-0500
  .row
    .12u
      / Copyright
      #copyright
        %ul.links
          %li © NMR. Derechos reservados
          %li
            Desarrollado por:
            %a{:href => "http://www.luigibyte.com.ar", :target => 'blank'} luigibyte
