#header
  %h1
    %a{:href => "index.html"} NMR Escuela de Rollers
  %nav#nav
    %ul
      %li{class: @active_menu == 'home' ? 'current': ''}
        %a{:href => "/"} Inicio
      %li{class: @active_menu == 'classes' ? 'current': ''}
        %a{:href => classes_path } Clases
      %li{class: @active_menu == 'where_are_we' ? 'current': ''}
        %a{:href => where_are_we_path } ¿Dónde estamos?
      %li{class: @active_menu == 'roads' ? 'current': ''}
        %a{:href => "#"} Recorridos
      %li{class: @active_menu == 'guides' ? 'current': ''}
        %a{:href => "#"} Guias
