#header
  %h1
    %a{:href => "index.html"} NMR Escuela de Rollers
  %nav#nav
    %ul
      %li.current
        %a{:href => "/"} Inicio
      %li
        %a{:href => "#"} Clases
        %ul
          %li
            %a{:href => "/clases/individuales"} Individuales
          %li
            %a{:href => "/clases/grupales"} Grupales
          %li
            %a{:href => "/precios"} Precios
      %li
        %a{:href => "/lugares"} Lugares
      %li
        %a{:href => "/recorridos"} Recorridos
      %li
        %a{:href => "/guias"} Guias
