#sub-head
  .flyIn
    %h2 Clases
    %p Pueden ser individuales, grupales o mini grupales
%h3.title Precios
.row
  .col-md-12
    %p
      Las clases pueden ser individuales, grupales o mini grupales.
      Las mismas se dictan en varios puntos, Palermo, Vicente Lopez y Puerto Madero
  .col-md-4
    .pricing-table.green.rounded
      .pricing-table-header
        %span.heading Clase Individual
        %span.heading 1 por mes
        %span.price-value
          %span 280
          %span.mo $
        %span.heading 4 por mes
        %span.price-value
          %span 850
          %span.mo $
  .col-md-4
    .pricing-table.blue.rounded
      .pricing-table-header
        %span.heading Clase Grupal
        %span.heading 1 por mes
        %span.price-value
          %span 130
          %span.mo $
        %span.heading 4 por mes
        %span.price-value
          %span 400
          %span.mo $
        %span.heading 8 por mes
        %span.price-value
          %span 550
          %span.mo $
  .col-md-4
    .pricing-table.green.rounded
      .pricing-table-header
        %span.heading Clase Mini Grupal
        %span.heading 1 por mes
        %span.price-value
          %span 180
          %span.mo $
        %span.heading 4 por mes
        %span.price-value
          %span 600
          %span.mo $
