%article.box.post
  %header
    %h2 Contacto
    %p Dejanos tu consulta
  %section
    .row
      .12u
        %form
          %p
            %input(name = 'name' type = 'text' placeholder = 'Nombre')
          %p
            %input(name = 'email' type = 'email' placeholder = 'Correo')
          %p
            %textarea(name = 'body' placeholder = 'Mensaje')
          %p
            %input(type = 'submit' value="Enviar")
