#map
%h3.title Fell free to contact me
.row
  .col-md-6
    #message-contact
    %form#contactform{:action => "assets/contact.php", :method => "post"}
      .form-bg-1
        %input#name_contact.form-control{:placeholder => "Your Name", :type => "text"}/
      .form-bg-2
        %input#lastname_contact.form-control{:placeholder => "Your Last name", :type => "text"}/
      .form-bg-1
        %input#email_contact.form-control{:placeholder => "Your Email", :type => "email"}/
      .form-bg-2
        %input#phone_contact.form-control{:placeholder => "Your Phone number", :type => "text"}/
      .form-bg-1
        .styled-select
          %select#subject_contact.form-control
            %option{:value => "kilo"} Ask for a quotation
            %option{:value => "pounds"} Ask for general info
      .form-bg-2
        %textarea#message_contact.form-control{:placeholder => "Your Message", :rows => "5"}
      .form-bg-1
        %input#verify_contact.form-control{:placeholder => "Are you human? 3 + 1 =", :type => "text"}/
      %input#submit-contact.button_medium.add_top_30{:type => "submit", :value => "Submit"}/
  .col-md-6
    %h4 General info
    %p Our mission is to bring affordable Technology education to people everywhere, in order to help them achieve their dreams and change the world.
    %ul
      %li
        %i.icon-user
        Personal trainer Name
      %li
        %i.icon-user
        1110 Bates Avenue Los Angeles, CA 90029, US
      %li
        %i.icon-phone
        Telephone: 41.22.319.36.10
      %li
        %i.icon-envelope
        Email:
        %a{:href => "#"} info@planar.com
      %li
        %i.icon-skype
        Skype name: Planar
    %h4 Newsletter
    %p Our mission is to bring affordable Technology education to people everywhere, in order to help them achieve their dreams and change the world.
    #message-newsletter
    %form#newsletter{:action => "assets/newsletter.php", :method => "post", :name => "newsletter"}
      .form-bg-1
        %input#email_newsletter.form-control{:name => "email_newsletter", :placeholder => "Your email", :type => "email"}/
      %button#submit-newsletter.button_medium.add_top_30 Subscribe
