!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title NMR Escuela de Rollers
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    /[if lte IE 8] <script src="assets/js/ie/html5shiv.js"></script>
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false
    /[if lte IE 8] <link rel="stylesheet" href="assets/css/ie8.css" />
  %body.homepage
    #page-wrapper
      #header-wrapper
        #header
          %h1
            %a{:href => "index.html"} NMR Escuela de Rollers
          %nav#nav
            %ul
              %li.current
                %a{:href => "/"} Inicio
              %li
                %a{:href => "#"} Clases
                %ul
                  %li
                    %a{:href => "/clases/individuales"} Individuales
                  %li
                    %a{:href => "/clases/grupales"} Grupales
                  %li
                    %a{:href => "/precios"} Precios
              %li
                %a{:href => "/lugares"} Lugares
              %li
                %a{:href => "/recorridos"} Recorridos
              %li
                %a{:href => "/guias"} Guias
          %section#banner
            %iframe(src="https://www.youtube.com/embed/TJDhP1gzyb0" frameborder="0" allowfullscreen)
      #main-wrapper
        .container= yield
      #footer-wrapper
        %section#footer.container
          .row
            .4u{:class => "12u(mobile)"}
              %section
                %header
                  %h2 Tempus consequat
                %ul.divided
                  %li
                    %a{:href => "#"} Lorem ipsum dolor sit amet sit veroeros
                  %li
                    %a{:href => "#"} Sed et blandit consequat sed tlorem blandit
                  %li
                    %a{:href => "#"} Adipiscing feugiat phasellus sed tempus
                  %li
                    %a{:href => "#"} Hendrerit tortor vitae mattis tempor sapien
                  %li
                    %a{:href => "#"} Sem feugiat sapien id suscipit magna felis nec
                  %li
                    %a{:href => "#"} Elit class aptent taciti sociosqu ad litora
            .4u{:class => "12u(mobile)"}
              %section
                %header
                  %h2 Ipsum et phasellus
                %ul.divided
                  %li
                    %a{:href => "#"} Lorem ipsum dolor sit amet sit veroeros
                  %li
                    %a{:href => "#"} Sed et blandit consequat sed tlorem blandit
                  %li
                    %a{:href => "#"} Adipiscing feugiat phasellus sed tempus
                  %li
                    %a{:href => "#"} Hendrerit tortor vitae mattis tempor sapien
                  %li
                    %a{:href => "#"} Sem feugiat sapien id suscipit magna felis nec
                  %li
                    %a{:href => "#"} Elit class aptent taciti sociosqu ad litora
            .4u{:class => "12u(mobile)"}
              %section
                %header
                  %h2 Encuentranos en
                %ul.social
                  %li
                    %a.icon.fa-facebook{:href => "http://www.facebook.com/nmroller.es", :target => 'blank'}
                      %span.label Facebook
                  %li
                    %a.icon.fa-youtube{:href => "http://www.youtube.com/channel/UC8UJvjvoYy2wnqJhxn0lIdQ", :target => 'blank'}
                      %span.label YouTube
                %ul.contact
                  %li
                    %h3 Correo
                    %p
                      %a{:href => "#"} nmroller@hotmail.com
                  %li
                    %h3 Telefono
                    %p 11-3621-0500
          .row
            .12u
              / Copyright
              #copyright
                %ul.links
                  %li © NMR. Derechos reservados
                  %li
                    Desarrollado por:
                    %a{:href => "http://www.luigibyte.com.ar", :target => 'blank'} luigibyte
    / Scripts
    = javascript_include_tag 'application', 'data-turbolinks-track' => false
    /[if lte IE 8] <script src="assets/js/ie/respond.min.js"></script>
