!!!
/[if IE 7 ] <html class="ie ie7" lang="en">
/[if IE 8 ] <html class="ie ie8" lang="en">
/[if IE 9 ] <html class="ie ie9" lang="en">
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title NmrWeb
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false
    = csrf_meta_tags
    / Basic Page Needs
    %meta{:charset => "utf-8"}/
    %title NMR | Escuela de Roller
    %meta{:content => "Nmr - Escuela de Roller", :name => "description"}/
    %meta{:content => "Luis Lopez", :name => "author"}/
    / Favicons
    %link{:href => asset_path("favicon.ico"), :rel => "shortcut icon", :type => "image/x-icon"}/
    %link{:href => asset_path("apple-touch-icon-57x57-precomposed.png"), :rel => "apple-touch-icon", :type => "image/x-icon"}/
    %link{:href => asset_path("apple-touch-icon-72x72-precomposed.png"), :rel => "apple-touch-icon", :sizes => "72x72", :type => "image/x-icon"}/
    %link{:href => asset_path("apple-touch-icon-114x114-precomposed.png"), :rel => "apple-touch-icon", :sizes => "114x114", :type => "image/x-icon"}/
    %link{:href => asset_path("apple-touch-icon-144x144-precomposed.png"), :rel => "apple-touch-icon", :sizes => "144x144", :type => "image/x-icon"}/
    / Mobile Specific Metas
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300", :rel => "stylesheet", :type => "text/css"}/
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    /[if IE 7]
      <link rel="stylesheet" href="font-awesome/css/font-awesome-ie7.min.css">
  %body
    %header
      .container
        .row
          .col-md-4.col-xs-3
          /
            %h1#logo
              %a{:href => "/", :title => "NMR - Escuela de Roller"} NMR - Escuela de Roller
          %nav.col-md-8.col-xs-9
            %ul#main-nav.sf-menu
              %li
                %a{:href => "/"} Inicio
              %li
                %a{:href => "#"} Disciplinas
                %ul
                  %li
                    %a{:href => "/"} Fitness
                  %li
                    %a{:href => "/"} Slalom
                  %li
                    %a{:href => "/"} FreeSkate
                  %li
                    %a{:href => "/"} Velocidad
              %li
                %a{:href => "#"} Clases
                %ul
                  %li
                    %a{:href => "/"} Grupal
                  %li
                    %a{:href => "/"} Individual
                  %li
                    %a{:href => "/"} Mini Grupal
              %li
                %a{:href => "/contact"} Contacto
    .container
      = yield
    %footer
      .container
        .row
          .col-md-6
            %h5 Contacto
            %ul
              %li
                %i.icon-user
                Nicolas Sapia Pinto
              %li
                %i.icon-phone
                11-3621-0500
              %li
                %i.icon-envelope
                %a{:href => "mailto:nmroller@hotmail.com"} nmroller@hotmail.com
            %ul.social-bookmarks.clearfix
              %li.facebook
                %a{:href => "http://www.facebook.com/nmroller.es"} facebook
              %li.googleplus
                %a{:href => "#"} googleplus
              %li.twitter
                %a{:href => "#"} twitter
          .col-md-6
            %h5 ¿Quienes somos?
            %p
              NM Roller es una escuela dedicada exclusivamente al aprendizaje de patín en línea. Las clases son dictadas por Nicolás Sappia y Matias Escudero.
            %p
              Es una actividad divertida que se realiza al aire libre de manera grupal o individual.
        #copy © 2013 - All Rhts Reserved
    / End footer
    #toTop Back to Top

    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %script{:src => "http://maps.googleapis.com/maps/api/js?sensor=false", :type => "text/javascript"}
    :javascript
      /* <![CDATA[ */
      $(window).load(function() {
        $('.flexslider').flexslider({
          animation: "fade"
        });
      });
      /* ]]> */
