<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<html>
<head>
  <title>NmrWeb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>



  <!-- Basic Page Needs -->
  <meta charset="utf-8">
  <title>PLANAR | Personal trainer site template</title>
  <meta name="description" content="Only 16$ - PLANAR Personal trainer site template with calories calculators">
  <meta name="author" content="Ansonika">

  <!-- Favicons-->
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
  <link rel="apple-touch-icon" type="image/x-icon" href="assets/apple-touch-icon-57x57-precomposed.png">
  <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="assets/apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="assets/apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="assets/apple-touch-icon-144x144-precomposed.png">

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">




  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300' rel='stylesheet' type='text/css'>



  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->


  <!--[if IE 7]>
  <link rel="stylesheet" href="font-awesome/css/font-awesome-ie7.min.css">
  <![endif]-->

  <!-- FLEXSLIDER -->
  <script type="text/javascript">
  /* <![CDATA[ */
  $(window).load(function() {
    $('.flexslider').flexslider({
      animation: "fade"
    });
  });
  /* ]]> */
  </script>
</head>
<body>

  <%= yield %>

</body>
</html>
